* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

}

header {
    display: flex;
    justify-content: center;
    background-color: #4a90e2;
    padding: 20px;
    text-align: center;
    color: white;
}

header img {
    position: relative;
    right: 22%;
    max-width: 70px;
    border-radius: 15px;
}

.san-valero {
    position: relative;
    left: 20%;
    max-width: 80px;
}

header h1 {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.span-presentacion {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 25px;
}

.filters {
    background-color: #fff;
    position: relative;
    left: 13%;
    width: 75%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 25px;
}

.filters h2 {
    display: flex;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 10px;
    margin: 0;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 5px;
}

form label {
    margin-left: 50px;
    margin-right: 10px;
}

form input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 50px;
}

.botones {
    display: flex;
    justify-content: center;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold;
}

button {
    padding: 8px 15px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;

}

button:hover {
    background-color: #357ab8;
}

.filtro-eventos {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.filtro-eventos label {
    position: relative;
    top: 8px;
    left: 5px;
    margin-right: 15px;
}

.map-detalles {
    display: flex;
    margin-bottom: 20px;
}

.map-container {
    position: relative;
    left: 20px;
    width: 60%;
}

#map {
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.titulo-popup-tiempo {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 100px;
}

.temperatura-popup-tiempo {
    padding-bottom: 10px;
    margin: 3px;
}

.leaflet-popup-content {
    text-align: center;
    margin-top: 13px;
    margin-bottom: 5px;
}

.leaflet-popup-content p {
    margin: 5px;

}

span {
    font-size: 16px;
    border-radius: 7px;
}

.detalles {
    position: relative;
    left: 4%;
    padding-top: 20px;
}

.titulo-detalles {
    font-size: 25px;
    font-family: sans-serif;
    padding-top: 2%;
    padding-bottom: 1.5%;
}

h2 {
    display: flex;
    justify-content: center;
}

#event-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 3%;
}

h3 {
    padding: 10px;
    padding-bottom: 0;
}

p {
    padding-top: 7px;
}

#ubic {
    padding-bottom: 5px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: lightgray;
}

footer span {
    display: flex;
}