body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#mapa {
    margin: 20px;
    width: 90%;
    height: 500px;
    border: 1px solid #ccc;
}

.filtrar-fecha{
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.boton-filtrar{
background-color: rgb(30, 114, 211);
color: white;
}

.boton-cancelar-filtrado{
 background-color: rgb(30, 114, 211);
 color: white;

}